<div class="comment" data-commentid="{{this.id}}">
	<div class="postInfo">
		<a href="/user/{{this.author}}" class="profileLink">{{this.author}}</a>
		<p>{{this.postedOn}}</p>
	</div>
	<p>{{this.comment}}</p>

	<p class="postInfo reply">reply</p>
</div>

<div class="indent">
	{{#each this.replies}}
		{{> comment}}
	{{/each}}
</div>
