<div class="post" data-postid="{{this._id}}">
	<div>
		<h2 class="postTitle">{{this.title}}</h2>
		<p class="postContent">{{this.content}}</p>

		<div class="postInfo">
			<a href="/user/{{this.userName}}" class="profileLink">{{this.userName}}</a>
			<p>{{this.createdOn}}</p>
		</div>
	</div>
	<img class="postImage" src="/post/image/{{this.image}}" alt="user post image">
	<div class="postFooter">
		{{#if @root.fullPost}}
			<p class="postInfo reply" id="comment">leave a comment</p>
		{{else}}
			<li class="iconParent">
				<a href="/post/{{this._id}}" class="commentLink">
					<ion-icon name="chatbox" class="icon small"></ion-icon>
					<p class="postInfo">{{this.commentCount}}</p>
				</a>
			</li>
		{{/if}}

		<li class="iconParent">
			{{> menu}}
			<ion-icon name="ellipsis-vertical" class="icon small optionMenu"></ion-icon>
		</li>
	</div>
</div>